<div *ngIf="screenDataInf && screenDataInf.eventInf">
    {{ screenDataInf.eventInf }} - {{ screenDataInf.screenId }}
</div>

<hb-table>
    <hb-table-heading title="Result search"></hb-table-heading>
    <hb-table-row>
      <hb-table-cell>1A</hb-table-cell>
      <hb-table-cell>2A</hb-table-cell>
      <hb-table-cell>3A</hb-table-cell>
    </hb-table-row>
    <hb-table-row>
      <hb-table-cell>1B</hb-table-cell>
      <hb-table-cell>2B</hb-table-cell>
      <hb-table-cell>3B</hb-table-cell>
    </hb-table-row>
  </hb-table>
